<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="中央競馬システム.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <中央競馬システム.My.MySettings>
      <setting name="dayTotalBuy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dayTotalPay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dayTotalParse" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dayTotalBalance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="remainingFunds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tansyoMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tansyoCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tansyoExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="tansyoExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="tansyoOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="tansyoOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="tansyoParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fukusyoCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fukusyoExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="fukusyoExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="fukusyoOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="fukusyoOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="fukusyoParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wakurenCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wakurenExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wakurenExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wakurenOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wakurenOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wakurenParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="umarenCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="umarenExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umarenExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umarenOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umarenOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umarenParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wideCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wideExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wideExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wideOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wideOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="wideParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="umatanCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="umatanExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umatanExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umatanOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umatanOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="umatanParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sanrenpukuCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sanrenpukuExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrenpukuExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrenpukuOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrenpukuOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrenpukuParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sanrentanCbV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sanrentanExpectLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrentanExpectHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrentanOddsLowV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrentanOddsHighV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sanrentanParseV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postHp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postBks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postEr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postBuy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postHit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postBksLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bTansyo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bTansyoExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bFukusyo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bFukusyoExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bWakuren" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bWakurenExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bUmaren" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bUmarenExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bWide" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bWideExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bUmatan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bUmatanExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bSanrenpuku" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bSanrenpukuExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bSanrentan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bSanrentanExpectV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="bTohyoCountV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="pyMinV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="pySecV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tohyoMinV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tohyoSecV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postHpMinV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postHpSecV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postBksMinV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postBksSecV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="inetId" serializeAs="String">
        <value />
      </setting>
      <setting name="kanyusyaNum" serializeAs="String">
        <value />
      </setting>
      <setting name="secretNum" serializeAs="String">
        <value />
      </setting>
      <setting name="pars" serializeAs="String">
        <value />
      </setting>
      <setting name="inMoney" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="autoInMoney" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="autoNyukin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logTxt" serializeAs="String">
        <value />
      </setting>
      <setting name="tohyoMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="zandaka" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="localHost" serializeAs="String">
        <value />
      </setting>
      <setting name="localUser" serializeAs="String">
        <value />
      </setting>
      <setting name="localPw" serializeAs="String">
        <value />
      </setting>
      <setting name="localDb" serializeAs="String">
        <value />
      </setting>
      <setting name="awsHost" serializeAs="String">
        <value />
      </setting>
      <setting name="awsPort" serializeAs="String">
        <value />
      </setting>
      <setting name="awsUser" serializeAs="String">
        <value />
      </setting>
      <setting name="awsPw" serializeAs="String">
        <value />
      </setting>
      <setting name="awsDb" serializeAs="String">
        <value />
      </setting>
      <setting name="LineToken" serializeAs="String">
        <value />
      </setting>
      <setting name="HpUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="BookersToken" serializeAs="String">
        <value />
      </setting>
      <setting name="xUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="xApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="xApiKeyS" serializeAs="String">
        <value />
      </setting>
      <setting name="xAccessTokenS" serializeAs="String">
        <value />
      </setting>
      <setting name="xBearerToken" serializeAs="String">
        <value />
      </setting>
      <setting name="xAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="tempDataTxt" serializeAs="String">
        <value />
      </setting>
      <setting name="allDataTxt" serializeAs="String">
        <value />
      </setting>
      <setting name="kaisai1" serializeAs="String">
        <value />
      </setting>
      <setting name="kaisai2" serializeAs="String">
        <value />
      </setting>
      <setting name="kaisai3" serializeAs="String">
        <value />
      </setting>
      <setting name="kaisai1Day" serializeAs="String">
        <value />
      </setting>
      <setting name="kaisai2Day" serializeAs="String">
        <value />
      </setting>
      <setting name="kaisai3Day" serializeAs="String">
        <value />
      </setting>
      <setting name="postHpWinPercent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="setRaceNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="minPercent" serializeAs="String">
        <value>0</value>
      </setting>
    </中央競馬システム.My.MySettings>
  </userSettings>
</configuration>